interfaces{
    xe-0/0/0 {
        unit 0 {
            family inet {
     {% if inventory_hostname.startswith('LS') %}
     address {{ global.spine.neighbors[0]}}/24;
     {% elif inventory_hostname.startswith('SS') %}
     address {{ global.leaf.neighbors[0]}}/24;
     {% endif %}
         }
       }
    }
    em0 {
        unit 0 {
            family inet {
     {% if inventory_hostname.startswith('LS') %}
     address 10.22.5.235/23;
     {% elif inventory_hostname.startswith('SS') %}
     address 10.22.5.234/23;
     {% endif %}
            }
        }
    }
}

